{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plekhanov Lab - Вход</title>
  <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'mainpage/css/normalize.css' %}">
  <link rel="icon" type="image/png" href="../img/logo.ico">
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="left-corner">
        <div class="logo">
          <img src="/img/login-logo.svg" alt="">
          <span>Лаборатория</span>
        </div>
        <span class="subtitle">
          графического дизайна и веб-проектирования 
          РЭУ, Минский филиал
        </span>
        <img src="/img/Laboratory-svg.svg" alt="img: illustration" id="left-img">
      </div>
      <div class="right-corner">
        <div class="language">
          <span>Русский (ru)</span>
          <img src="/img/Stroke.svg" alt="icon: arrow">
        </div>
        <h2>Войдите в свой аккаунт
        </h2>
        <div class="login register">
          <span>Еще не зарегистрированы?</span>
          <a href="{% url 'registration' %}">Зарегистрироваться</a>
        </div>
        <form method="POST">
          {% csrf_token %}
          <span id="input-title">Ваше имя или email</span>
          {{ form.username }}
          <span id="input-title">Ваш пароль</span>
          {{ form.password }}
          <button class="button blue" id="blue-login" type="submit">Войти</button>
        </form>
        <a href="{% url 'social:begin' 'google-oauth2' %}">
          <button type="button" class="button social"><img src="/img/Google.svg" alt="icon: Google">Войти через Google</button>
        </a>
        <a href="{% url 'social:begin' 'github' %}">
          <button class="button social"><img src="/img/Github.svg" alt="icon: Github">Войти через Github</button>
        </a>
      </div>
    </div>
  </section>
  <script src="{% static 'users/js/script.js' %}"></script>
</body>
</html>