{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plekhanov Lab - Аккаунт</title>
  <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'mainpage/css/normalize.css' %}">
  <link rel="icon" type="image/png" href="../img/logo.ico">
</head>
<body>
  <div class="profile">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert-success">{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Це ваш профиль</h1>
    <img src="{{ user.profile.image.url }}" style="width: 64px; height: 64px;" alt="">
    <h2>Изменить данные</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ update_user.as_p }}
      {{ img_profile.as_p }}
      <button class="button blue" type="submit">Сохранить</button>
    </form>
  </div>
</body>
</html>