@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}


.header {
  margin-top: 25px;
}
.header-body {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  max-height: 75px;
}

.header-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.header-menu-list a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #2E2F33;
  margin-right: 31px;
  transition: 0.3s ease;
}
.header-menu-list a:hover {
  color: #9699A1;
  transition: 0.3s ease;
}
.header-menu-list button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  min-width: 101px;
  min-height: 40px;
  background-color: #326BFF;
  border-radius: 8px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.header-menu-list button:hover{
  background-color: #D0DEFF;
  color: #326BFF; 
  transition: 0.3s ease;
}

.mainpage {
  margin-top: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  background: url(../src/img/background-mainpage.png) no-repeat right bottom;
}
.container h2 {
  max-width: 611px;
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;
  color: #2E2F33;
  margin-bottom: 65px;
  margin-top: 50px;
}
.blue {
  color: #326BFF;
}
.red {
  color: #FF4026;
}
.container .checkout {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 35px;
}
.container span img {
  margin-right: 25px;
}
.container h1 {
  font-weight: 700;
  font-size: 100px;
  line-height: 122px;
  color: #326BFF;
  margin-top: 35px;
  margin-bottom: 39px;
}

.about-us {
  margin-top: 52px;
}
.container-about-us {
  max-width: 1200px;
  margin: auto;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-text {
  display: flex;
  flex-direction: column;
}
.card-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;
  color: #326BFF;
}
.card-subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #2E2F33;
  max-width: 564px;
  margin-top: 30px;
}

.services {
  margin-top: 50px;
}
.container-serveces-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  color: #326BFF;
  margin-bottom: 80px;
}
.container-serveces-title img {
  margin-right: 10px;
}
.container-serveces {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px;
  background: #EEF3FF url(../src/img/line.svg) left no-repeat;
  margin-bottom: 65px;
}
.service-card-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #2E2F33;
  margin-bottom: 34px;
  padding-top: 55px;
  cursor: pointer;
  padding-left: 50px;
}
.service-card-subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #5F626A;
  max-width: 466px;
  padding-left: 50px;
}
.service-card-title img {
  margin-left: 10px;
}
.buttons {
  display: flex;
  padding-left: 50px;
  padding-right: 40px;
  margin-bottom: 55px;
  margin-top: 60px;
}
.buttons .button {
  background-color: #D0DEFF;
  border-radius: 8px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #326BFF;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 40px;
  cursor: pointer;
  transition: 0.3s ease;
}
.buttons .button-outline {
  background: #EEF3FF;
  border: 2px solid #326BFF;
  box-sizing: border-box;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 34px;
  padding-right: 34px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #326BFF;
  cursor: pointer;
}
.buttons .button:last-child {
  margin-right: 0;
}
.buttons .solid:hover {
  background-color: #326BFF;
  color: #EEF3FF;
  transition: 0.3s ease;
}

.projects {
  margin-top: 70px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-card img {
  max-width: 100%;
}
.container-projects {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-card-title {
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  color: #020516;
  margin-top: 10px;
  margin-bottom: 25px;
}
.project-card-subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #3F4147;
  max-width: 547px;
  display: inline-block;
}
.year {
  background-color: #E2EEFF;
  border-radius: 8px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #326BFF;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 35px;
}


.form {
  margin-top: 120px;
}
.container-form {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  display: flex;
  flex-direction: column;
}
.form-feedback h2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  color: #2E2F33;
  margin: 0;
}
.form-feedback {
  display: flex;
  flex-direction: column;
}
.form-feedback span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2E2F33;
  margin-top: 25px;
  margin-bottom: 14px;
}
input[type=text] {
  background: #FFFFFF;
  border: 2px solid rgba(46, 47, 51, 0.3);
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2E2F33;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 239px;
  max-width: 412px;
  transition: 0.3s ease;
}
input[type=text]:focus {
  border: 2px solid #326BFF;
  transition: 0.3s ease;
}
::placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #C1C1C2;
  min-width: 240px;
}
.form-feedback button {
  background: #326BFF;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 21px;
  padding-right: 21px;
  max-width: 156px;
  transition: 0.3s ease;
  margin-top: 25px;
}
.form-feedback button:hover {
  background-color: #D0DEFF;
  color: #326BFF;
  transition: 0.3s ease;
}
/* lab blog */

.blog {
  max-width: 1200px;
  margin: 55px auto 38px;
}

.blog-title {
  font-weight: 600;
  font-size: 45px;
}

.blog-content {
  display: flex;
  flex-wrap: wrap;
}

.blog-card { 
  max-width: 344px;
  display: flex;
  flex-direction: column;
}

.others-new {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.last-new .blog-card {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 0 0 81px 0;
  flex-wrap: wrap;
}

.last-new .blog-card .blog_card-content {
  display: flex;
  flex-direction: column;
  max-width: 445px;
  min-height: 289px;
  margin-left: 74px;
  justify-content: space-around;
}

.last-new .blog-card .blog-card_image {
  width: 391px;
  height: 289px;
}

.blog-card_image {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;  
  width: 100%;
  height: 185px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
}