@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}


.header {
  margin-top: 25px;
}
.header-body {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  max-height: 75px;
}

.header-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.header-menu-list a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #2E2F33;
  margin-right: 31px;
  transition: 0.3s ease;
}
.header-menu-list a:hover {
  color: #9699A1;
  transition: 0.3s ease;
}
.header-menu-list button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  min-width: 101px;
  min-height: 40px;
  background-color: #326BFF;
  border-radius: 8px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.header-menu-list button:hover{
  background-color: #D0DEFF;
  color: #326BFF; 
  transition: 0.3s ease;
}

.mainpage {
  margin-top: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  background: url(../src/img/background-mainpage.png) no-repeat right bottom;
}
.container h2 {
  max-width: 611px;
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;
  color: #2E2F33;
  margin-bottom: 65px;
  margin-top: 50px;
}
.blue {
  color: #326BFF;
}
.red {
  color: #FF4026;
}
.container .checkout {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 35px;
}
.container span img {
  margin-right: 25px;
}
.container h1 {
  font-weight: 700;
  font-size: 100px;
  line-height: 122px;
  color: #326BFF;
  margin-top: 35px;
  margin-bottom: 39px;
}